.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.nba-logo {
  height: 60px;
}

.banner-img {
  margin: 40px 0 40px 0;
}

.search-input {
  margin-bottom: 40px;
}

.create-player-form {
  margin-bottom: 40px;
}

.player-info {
  margin-bottom: 40px;
}

.add-player-button {
  margin-bottom: 40px;
}

.player-builder-photo {
  height: 100px;
}

.builder-div {
  margin: 40px 0 40px 0;
}
